:host {
	display: block;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 10px;
}

.todo-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.todo-item label {
	display: flex;
	align-items: center;
	font-size: 13px;
	max-width: 300px;
	span {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-right: 10px;
		font-weight: 500;
	}
}

.todo-item input[type="checkbox"] {
	margin-right: 10px;
}

.todo-detail {
	border-top: 1px solid #ddd;
	background-color: #f9f9f9;
}

.buttons {
	display: flex;
	gap: 10px;
}

.detail-btn, .remove-btn {
	padding: 5px 10px;
	border: none;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

.detail-btn {
	background-color: #00c4cc;
}

.remove-btn {
	background-color: #e74c3c;
}